@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');
html {
    box-sizing: border-box;
    font-size: 62.5%; /**Permite que 1rem = 10px**/
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
.login{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 5rem;
}
.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.campo__label {
    text-align: center;
    font-size: 1.5rem;
    padding-right: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.campo__input {
    flex: 1;
    border-radius: 1rem;
    padding: 1rem;

}

.campo a {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
}

.alerta {
    background-color: rgba(155, 36, 36, 0.836);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    height: 2.5rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}
table {
    font-size: 1.5rem;
    border-spacing: 0;
}
td,th,tr {
    text-align: center;
    padding: 1rem;
}
footer, p{
    text-align: center;
}