@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');
html {
    box-sizing: border-box;
    font-size: 62.5%; /**Permite que 1rem = 10px**/
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}
img{
    max-width: 100%;
    height: auto;
}
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
.login{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 5rem;
}
@media (max-width: 650px){
    .login{
        display: flex;
        flex-direction: column;
    }  
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.campo__label {
    text-align: center;
    font-size: 1.5rem;
    padding-right: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.campo__input {
    flex: 1;
    border-radius: 1rem;
    padding: 1rem;

}

.campo a {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
}

.alerta {
    background-color: rgba(155, 36, 36, 0.836);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    height: 2.5rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}
table {
    font-size: 1.5rem;
    border-spacing: 0;
    margin-top: 5rem;
    width: 90%;
}
th{
    background-color: rgb(125, 172, 212);
}
td,th,tr {
    text-align: center;
    padding: 1rem;
}
tr:nth-child(even) {
    background-color: rgb(204, 216, 226);
}
footer, p{
    font-size: 1.5rem;
    text-align: center;
}
.header p{
    font-size: 2rem;
    font-weight: 600;
}
.footer{
    background-color: #79b4e7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    color: white;
}
.boton{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #79b4e7;
    border: none;
}